<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="Server" value="your.panopto.servername"/>
    <add key="InfoFilePath" value="C:\Users\Default\Documents\WatchFolder\WatchFolderInfo.txt"/>
    <add key="WatchFolder" value="C:\Users\Default\Documents\WatchFolder"/>
    <add key="UserID" value="PanoptoUserName"/>
    <add key="UserKey" value="PanoptoUserPassword"/>
    <add key="FolderID" value="00000000-0000-0000-0000-000000000000"/>
    <add key="Verbose" value="false"/>
    <add key="PartSize" value="6000000"/>
    <add key="ElapseTime" value="10000"/>
    <add key="FileWaitTime" value="30"/>
    <add key="UploadExtensions" value=".avi;.asf;.wmv;.mpg;.mpeg;.ps;.ts;.m2v;.mp2;.mod;.mp4;.m4v;.mov;.qt;.3gp;.flv;.f4v;.mp3;.wma;.m2a;.m4a;.f4a"/>
    <add key="AllowedNumberFailedAttempts" value="3"/>
  </appSettings>
</configuration>
